:root {
    --green: #7fff7f;
    --red: #ff7f7f;
    --dark-grey: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

/* Player Slot CSS */

.PlayerSlot, .Header {
    display: flex;
    flex-direction: row;
}

.PlayerID, .PlayerName, .EquipmentID {
    margin-left: 1%;
    margin-right: 1%;
    color: white;
    padding: 2%;
    border-radius: 4px;
}

.EquipmentID, .PlayerID {
    width: 25%;
    text-align: center;
}

.PlayerName {
    width: 50%;
    text-align: left;
}

.Header.Small {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    overflow: hidden;
}

@media only screen and (max-width: 1400px) {
    .Header.Small {
        position: static;
        width: auto;
        height: auto;
    }

    .Header.Large {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        overflow: hidden;
    }
}

/* Player Entry Popup CSS */

.PlayerEntryInput {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    overflow: hidden;
}

.PlayerEntryInput.Shown {
    position: absolute;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.EntryPopupBoxContainer {
    display: flex;
    margin: auto;
    padding-bottom: 20%;
    align-items: center;
    justify-content: center;
}

.EntryPopupBox {
    /* margin: auto; */
    width: 400px;
    height: auto;
    padding-top: 10px;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    box-shadow: 2px 2px 2px 0px black;
}

.EntryPopupBox > .Buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
}

.EntryPopupBox > .Buttons > button {
    margin: 10px;
    width: 30%;
    height: 30px;
    font-size: 18px;
    font-weight: 700;
    
}

.PlayerIDInput {
    position: absolute;
    /* content: ''; */
    width: 0;
    height: 0;
    overflow: hidden;
}

.PlayerIDInput.state0 {
    position: static;
    width: auto;
    height: auto;
    display: flex;
}

.PlayerNameInput {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    overflow: hidden;
}

.PlayerNameInput.state1 {
    position: static;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}
    
.EquipmentIDInput {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    overflow: hidden;
}

.EquipmentIDInput.state2 {
    position: static;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.EntryPopupBox > input {
    width: 350px;
}

/* Entry Screen CSS */

.Team {
    width: 45%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 2px 2px 7px 0px black;
    transition: height 1s linear 1s;
    /* text-align: center; */
}

.Team > button {
    font-size: 18px;
    font-weight: 700;
    padding: 4px;
    margin: 4px 0;
    box-shadow: 2px 2px 4px 0px black;
    border-radius: 4px;
}

.Team > p {
    text-align: center;
    font-size: 25px;
    font-weight: 900;
}

.Red.Team {
    border: 10px solid var(--red);
    /* border-radius: 15px; */
}
.Red.Team > p {
    color: var(--red);
}

.Green.Team {
    border: 10px solid var(--green);
    /* border-radius: 15px; */
}
.Green.Team > p {
    color: var(--green);
}

.EntrySlots {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.ControlButtons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ControlButtons > button {
    margin: 10px;
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 2px 2px 4px 0px black;
    border-radius: 4px;
}